@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: linear-gradient(to bottom, #003135 4%, #024950 56%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #003135 4%, #024950 56%);
    --foreground: #171717;
  }
}

.h-header {

  height: 100px;
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  font-weight: 700;
}
